<a href="" class="nav-link" data-toggle="dropdown">
  <i class="far fa-comments"></i>
  <span class="badge badge-danger navbar-badge" ng-show="!!mensajes.length" ng-bind="mensajes.length"></span>
</a>
<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
  <a href="" class="dropdown-item" ng-repeat="m in mensajes">
    <div class="media">
      <img ng-src="{{m.img}}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
      <div class="media-body">
        <h3 class="dropdown-item-title">
          <span ng-bind="m.nombre"></span>
          <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
        </h3>
        <p class="text-sm" ng-bind="(m.mensaje | mensajeCorto)"></p>
        <p class="text-sm text-muted">
          <i class="far fa-clock mr-1"></i>
          <span ng-bind="m.fecha"></span>
        </p>
      </div>
    </div>
  </a>
  <div class="dropdown-divider"></div>
  <a href="" class="dropdown-item dropdown-footer">Ver todos los mensajes</a>
</div>