<a href="" class="nav-link" data-toggle="dropdown">
  <i class="far fa-bell"></i>
  <span class="badge badge-warning navbar-badge" ng-show="!!notificaciones.length" ng-bind="notificaciones.length"></span>
</a>
<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
  <span class="dropdown-item dropdown-header">Tienes <span ng-bind="notificaciones.length"></span> notificaciones</span>
  <div class="dropdown-divider"></div>

  <div ng-repeat="n in notificaciones">
    <a href="" class="dropdown-item">
      <i class="fas mr-2" ng-class="n.icono"></i>
      <span ng-bind="(n.notificacion | mensajeCorto)"></span>
      <span class="float-right text-muted text-sm">3 mins</span>
    </a>
    <div class="dropdown-divider"></div>
  </div>

  <a href="" class="dropdown-item dropdown-footer">Ver todas las notificaciones</a>
</div>